.greetingForm {
    padding-left: 70px;
    padding-top: 55px;
    padding-bottom: 245px;
    border: 1px solid #D1D1D1;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input:focus {
    border: 1px solid #D1D1D1;
    border-radius: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    margin-left: 12px;
    gap: 10px;
    background: #0066CC;
    border-radius: 3px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button:focus {
    background: #0066CC;
    border-radius: 3px;
}

.button:active {
    background: #0066CC;
    border-radius: 3px;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 10px;
}
